[Unit]
Description=Forward port 22 to ngrok server using tcp method

[Service]
Type=simple
Restart=always
RemainAfterExit=yes
User=vkist2
ExecStart=/usr/local/bin/ngrok tcp 22

[Install]
WantedBy=multi-user.target
