[Unit]
Description=Schedule a register service after system reboot

[Timer]
Persistent=true
OnBootSec=30s
Unit=stream_ip_cam.service

[Install]
WantedBy=timers.target
